.layout {
  margin: 3rem auto;
  max-width: 650px;
  padding: 0 1rem;

  .title {
    margin-bottom: 2rem;
    display: inline-block;
    font-style: normal;
  }

  .menu-item {
    float: right;
    margin-left: 10px;
  }
}